files:
    "/etc/filebeat/filebeat.yml":
        mode: "000755"
        owner: root
        group: root
        content: |
            filebeat.inputs:
            - type: log
              paths:
              - /var/log/eb-docker/containers/eb-current-app/app-*.log
              document_type: app-log
              fields_under_root: true
            - type: log
              paths:
              - /var/log/eb-docker/containers/eb-current-app/error-*.log
              document_type: error-log
              fields_under_root: true
            output.logstash:
              hosts: ["172.31.47.113:5044"]

commands:
    1_command:
        command: "curl -L -O https://artifacts.elastic.co/downloads/beats/filebeat/filebeat-7.9.2-x86_64.rpm"
        cwd: /home/ec2-user
    2_command:
        command: "sudo rpm -ivh --replacepkgs filebeat-7.9.2-x86_64.rpm"
        cwd: /home/ec2-user
    5_command:
        command: "sudo /etc/init.d/filebeat start"